@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkımızda</title>
    <!--Style Sheet-->
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <!--Üst Menü-->
    <header>
        <h2 class="logo" style="text-align:center">Hakkımızda</h2>

        <nav class="navigation">
            <a href="/Home/Login">Ana Sayfa</a>
        </nav>
    </header>
</body>
</html>
