
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkımda</title>
    <!--Style Sheet-->
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <!--Üst Menü-->
    <header>
        <h2 class="logo" style="text-align:center">Hakkımda</h2>

        <nav class="navigation">
            <a href="/Home/Login">Ana Sayfa</a>
        </nav>
    </header>
    <!--Alt Menü-->
    <div style="padding-top:100px">
    <div class="container">
        <p> 
            Merhaba, ben Birkan. Matematik bölümünden mezun oldum ve şu anda .NET üzerine eğitim almaktayım. Kendimi geliştirerek ve pratik yaparak C#, HTML, CSS, JavaScript, Bootstrap ve MSSQL Server gibi teknolojileri başarıyla öğrendim. Matematik eğitimim, analitik düşünme becerilerimi güçlendirdi ve problem çözme yeteneğimde derinlik kazandırdı. Bu yeteneklerimi yazılım geliştirme alanında kullanmak için kendimi sürekli olarak geliştirmeye ve yeni teknolojileri öğrenmeye odaklanıyorum.
        </p>
    </div>
    </div>
</body>
</html>
