
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İletişim</title>
    <!--Style Sheet-->
    <link href="~/stylesheet.css" rel="stylesheet" />
    <!--FontAwesome CDN-->
    <script src="https://kit.fontawesome.com/d74d237bf1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Üst Menü-->
    <header>
        <h2 class="logo" style="text-align:center">İletişim</h2>

        <nav class="navigation">
            <a href="/Home/Login">Ana Sayfa</a>
        </nav>
    </header>
</body>
</html>
