
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İletişim</title>
    <!--Style Sheet-->
    <link href="~/stylesheet.css" rel="stylesheet" />
    <!--FontAwesome CDN-->
    <script src="https://kit.fontawesome.com/d74d237bf1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Üst Menü-->
    <header>
        <h2 class="logo" style="text-align:center">İletişim</h2>

        <nav class="navigation">
            <a href="/Home/Login">Ana Sayfa</a>
        </nav>
    </header>
    <!--Alt Menü-->
    <div style="padding-top:100px">
        <div class="container">
            <span class="icon"><i class="fa-solid fa-envelope"></i> &nbsp; <a href="mailto:birkanturan35@gmail.com" style="color:black;"> birkanturan35@gmail.com</a></span> <br /><br />
            <span class="icon"><i class="fa-brands fa-linkedin"></i> &nbsp; <a href="https://www.linkedin.com/in/birkan-turan-181133232/" style="color:black;" target="_blank"> birkan-turan</a></span> <br /><br />
            <span class="icon"><i class="fa-brands fa-github"></i> &nbsp; <a href="https://github.com/birkanturan10" target="_blank" style="color:black;"> github.com/birkanturan10</a></span> <br /><br />
            <span class="icon"><i class="fa-brands fa-instagram"></i> &nbsp; <a href="https://www.instagram.com/birkanturan10/" target="_blank" style="color:black;"> birkanturan10</a></span> <br /><br />
            <span class="icon"><i class="fa-brands fa-twitter"></i> &nbsp; <a href="https://twitter.com/birkanturan55" target="_blank" style="color:black;"> birkanturan55</a></span> <br /><br />
        </div>
    </div>
</body>
</html>
